* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  min-height: calc(100vh - 5vh);
}

main > section {
  flex: 1;
}

main > aside {
  flex: 0 0 20vw;
  background: black;
}

section,
aside,
footer {
  padding: 1em;
}

footer {
  background-color: hsla(0, 0%, 100%, 0.95);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
}

.cards img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 23vw;
}

.user-link {
  color: white;
}

.user-link:hover {
  cursor: pointer;
}
